/* Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Reset End */

/* Constants */
:root{
    --clr-primary: #E3C871;

}


/* Font */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&display=swap');


/* Basic */
*,*::after, *::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Barlow', sans-serif;
    scroll-padding-top: 50px;
    font-size: 10px;
}

body {
    background-color: #000;
    color: #fff;
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: white;
}

img{
    width: 100%;
}
/* End Basic */

/* Elements */

.header nav{
    display: flex;
    justify-content: flex-start;
    padding: 2rem;
}

.header__logo{
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.header__logo_img{
    width: 4rem;
}

.header__logo_name{
    font-weight: 600;
    font-size: 1.8rem;
}


.hero{
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    text-align: center;
}

.hero__logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.hero__logo_img{
    width: 10rem;
}

.hero__logo_name{
    font-weight: 600;
    font-size: 2.4rem;
}

.hero__tagline{
    color: var(--clr-primary);
    text-transform: uppercase;
    font-size: 2rem;
}

.cta{
    display: flex;
    flex-direction: column;
    margin: 6rem;
}

.cta__label{
    opacity: 0.5;
}

.cta__buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    padding: 2rem;
}

.cta__buttons_button{
    width: 10rem;
}

.hero__figure_img{
    max-width: 60rem;
}

@media screen and (min-width:900px) {
    .hero{
        flex-direction: row;
        gap: 2.4rem;
    }
}